NODE_ENV=development
PORT=3000   
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=tech_challenge
MAIL_DRIVER=brevo
BREVO_API_KEY=brevo-api-key
MAIL_FROM=oficina@example.com
MAIL_FROM_NAME=Oficina
APP_BASE_URL=http://localhost:3000
JWT_SECRET=your-jwt-secret
